DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=your-app-name.onrender.com,localhost
DATABASE_URL=postgres://user:password@host:port/dbname
REDIS_URL=rediss://user:password@host:port
EMAIL_HOST_PASSWORD=your-gmail-app-password
CORS_ALLOWED_ORIGINS=https://your-frontend-link.onrender.com
CORS_ALLOW_ALL_ORIGINS=False
